body{
    background-color: lightsteelblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}

.center {
    border: 2px solid;
    border-radius: 20% 10%;
    border-color: white;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: white;
    opacity: 0.6;
    
    /* During redraw changed size of window */
    width: 420px; /* Fixed width */
    height: 350px; /* Fixed height */
}

.centered_text, p{
    /*centered text*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
}

.spinner {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }

.horizontal{
    display: flex;
}

/* .right_pos{
    margin-right: auto;
  } */

.big_font{
    font-size: 1.5rem;
    font-weight: 600;
}

.super_big_font{
    font-size: 3rem;
    font-weight: 800;
}

div{
   margin: 10px;
}

.container_btn{
    text-align: right;
}

.btn{
    padding: 10px 20px;
    margin: 2px;
    border-radius: 10% 10%;
    border: none; 
    background-color: lightsteelblue;
    cursor: pointer;
    user-select: none;
}

.btn:hover{
    background-color:orange;
}

input[type="radio"] {
    display: none;
}

/* Visual feedback when radio input is checked */
input[type="radio"]:checked + .btn {
    background-color:red;
    color: white;
}

 /* .btn:focus{
    background-color:red;
} */


